AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ru-central1
S3_ENDPOINT_URL=https://storage.yandexcloud.net

VNUTRI_BACKUP_BUCKET=vnutri-prod-db-backups-b1ghrmp0mr8mr0jcj9gc
VNUTRI_BACKUP_PREFIX=postgres
VNUTRI_BACKUP_LOCAL_DIR=/var/backups/vnutri/postgres
